// sidebar
$menuText: #d4d4d4;
$menuActiveText: #409eff;
$subMenuActiveText:#409eff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#3b4548;
$menuHover: #2d3235;

$subMenuBg:#3b4548;
$subMenuHover: #2d3235;

$sideBarWidth: 195px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
